.nav-customize {
    position: relative;
}

.theme-options {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 999;
    background: #fff;
    border-radius: 4px;
    text-align: left;
    padding: 15px;
    box-shadow: 0 1px 4px 0 #dfe5ee;
    display: none;
    font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.theme-options .option-group {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.theme-options .option-group.backgrounds a,
.modal .btn {
    padding: 6px 8px;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #aaa;
}

.modal .btn {
    position: relative;
    top: -25px;
    border: 0;
    color: #fff;
}

.theme-options .option-group.backgrounds a:hover {
    background: #aaa;
}

.theme-options b {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.theme-options .font-select {
    font-size: 14px;
}

.theme-options .download {
    background: none;
    border: 1px solid #aaa;
    border-radius: 25px;
    padding: 8px 18px;
    cursor: pointer;
    font-weight: 700;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    text-align: center;
}

.theme-options .download.disabled {
    color: #999;
    border: 1px solid #ccc;
}

.font-select .fs-results li {
    display: block;
}

.jscolor {
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    height: 38px;
    padding: 3px 8px 3px 8px;
    color: #444;
    width: 100%;
}

.modal {
    font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    padding-bottom: 0 !important;
}

.modal h3 {
    padding-top: 10px;
}

.modal p {
    margin-bottom: 0;
    line-height: 28px;
    color: #333;
}

.modal pre {
    margin: 0 !important;
}

.modal pre::before {
    display: none !important;
}

.modal pre::after {
    display: none !important;
}

.dark-mode .theme-options {
    background: #33343a;
    box-shadow: 0 2px 24px 5px #222327;
    border: rgba(#222327, 0.06) 1px solid;
}

.dark-mode .theme-options b {
    color: #fff;
}