<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body class="home-template">
    <main>

        <aside class="sidebar no-image">
            <a href="index.html" class="site-logo">
                <!-- <img src="content/images/2019/08/logo-1.png" alt="DocuHub" /> -->
            </a>
             
            <div class="sidebar-inner">
              <app-nav-bar></app-nav-bar>
              <app-nav-bottom-log></app-nav-bottom-log>
            </div>
        </aside>

        <section class="content">
            <app-top-nav-bar></app-top-nav-bar>
            
            <app-page-tile></app-page-tile>

            <main id="site-main" class="container">
                <div class="post-list">
                    <app-page-cards></app-page-cards>
                </div>
            </main>

        </section>
    </main>
