<nav class="sidebar-nav">
    <ul>
        <li id="tag-5d6872a07c4e0b0409732b64">
            <a>
                <span class="tag-name">I. Getting Started</span>
                <span class=""><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
            <ul>
                <li id="post-welcome"><a href="welcome/index.html">Welcome to Ghost</a></li>
                <li id="post-the-editor"><a href="the-editor/index.html">Writing posts with Ghost ✍️</a></li>
                <li id="post-publishing-options"><a href="publishing-options/index.html">Publishing options</a></li>
                <li id="post-admin-settings"><a href="admin-settings/index.html">Managing admin settings</a></li>
                <li id="post-organising-content"><a href="organising-content/index.html">Organising your content</a></li>
                <li id="post-apps-integrations"><a href="apps-integrations/index.html">Apps &amp; integrations</a></li>
                <li id="post-themes"><a href="themes/index.html">Creating a custom theme</a></li>
                <li id="post-api-versioning"><a href="api-versioning/index.html">API Versioning</a></li>
                <li id="post-how-can-i-track-how-many-views-my-site-is-getting"><a href="how-can-i-track-how-many-views-my-site-is-getting/index.html">How can I track how many views my site is getting?</a></li>
                <li id="post-migrating-from-wordpress-to-ghost"><a href="migrating-from-wordpress-to-ghost/index.html">Migrating from WordPress to Ghost</a></li>
                <li id="post-wheres-the-dashboard"><a href="wheres-the-dashboard/index.html">Where&#x27;s the dashboard?</a></li>
            </ul>
        </li>    
    </ul>
</nav>